{% extends "base.html.twig" %}
{% block body %}
	<div class = "mainScreen">
		<h1><a href = "{{ path('mainMenu') }}"><</a> Viešbučiai <a href = "{{ path('addHotel') }}">+</a> </h1> <br />
		<table style="width:100%">
			<tr>
				<th>Pavadinimas</th>
				<th>Įmonės kodas</th>
				<th>Reitingas</th>
				<th>Adresas</th>
				<th>Tinklapis</th>
			</tr>
			{% for hotel in hotels %}
			<tr>
				<td>{{ hotel.getName() }}</td>
				<td>{{ hotel.getCompanyCode() }}</td>
				<td>{{ hotel.getRating() }}</td>
				<td>{{ hotel.getAddress() }}</td>
				<td>{{ hotel.getWebsite() }}</td>
			</tr>
			{% endfor %}
		</table> 
	</div>
{% endblock %}