{% extends 'base.html.twig' %}
{% block title %}
    EGP - Login
{% endblock %}
{% block body %}
<div class = "mainScreen">
    <h1>EGP - Login</h1>
    {# alerts rendering #}
    {{ parent() }}
    {% if error is not null %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <div class="form-group col-sm-5 col-centered">
            Email:
            <input type="text" class="form-control" placeholder="labas@egp.lt" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <br />
        <div class="form-group col-sm-5 col-centered">
            Password:
            <input type="password" class="form-control" placeholder="******" id="password" name="_password" />
        </div>
        <br />
        <button type="submit" class="btn-secondary btn">Login</button><br /><br />
        <a href = "{{ path('registerScreen') }}">Don't have an account? Register</a><br />

        <a href = "{{ path('mainMenu') }}"> Skip logging in for testing purposes</a><br />
    </form>
</div>
{% endblock %}