{% extends "base.html.twig" %}
{% block body %}
	<div class = "mainScreen">
		<h1><a href = "{{ path('warehouse') }}"><</a> Užsakymų sąrašas <a href = "{{ path('addOrder') }}">+</a> </h1> <br />
		<table style="width:100%">
			<tr>
				<th>ID</th>
				<th>Būsena</th>
				<th>Atšaukti</th>
				<th>Keisti būseną</th>
				<th>Pridėti daiktą</th>
				<th>Peržiūrėti</th>
			</tr>
            {% for order in orders %}
				<tr>
					<td>{{ order.getId() }}</td>
					<td>{{ order.getState() }}</td>
					<td><a href = "/deleteOrder/{{ order.getId() }}"}}>X</a></td>
					<td><a href = "/editOrder/{{ order.getId() }}"}}>E</a></td>
					<td><a href = "/useForOrder/{{ order.getId() }}"}}>E</a></td>
					<td><a href = "/viewOrderItems/{{ order.getId() }}"}}>E</a></td>
				</tr>
            {% endfor %}
		</table>
	</div>
{% endblock %}